# Q1

In [ ]:
name= 'Aditya Tate'

In [4]:
name.casefold()

'aditya tate'

In [6]:
name.endswith(name)

True

In [14]:
name.capitalize()

'Aditya tate'

In [17]:
name.count('t')

2

In [20]:
name.center(1)

'Aditya Tate'

In [24]:
name.isdigit()

False

# Q2

In [78]:
lst=[1,2,3,4, "aditya", 9.2,['a','n','d'],4.8,5.3]

In [79]:
lst

[1, 2, 3, 4, 'aditya', 9.2, ['a', 'n', 'd'], 4.8, 5.3]

In [80]:
lst.count(4)

1

In [81]:
lst.insert(-1,'200')

In [82]:
lst

[1, 2, 3, 4, 'aditya', 9.2, ['a', 'n', 'd'], 4.8, '200', 5.3]

In [83]:
lst.remove('200')

In [88]:
lst

[1, 2, 3, 4, 'aditya', 9.2, ['a', 'n', 'd'], 4.8, 5.3]

In [90]:
lst.remove(['a','n','d'])

In [91]:
lst

[1, 2, 3, 4, 'aditya', 9.2, 4.8, 5.3]

In [92]:
lst.reverse()

In [93]:
lst

[5.3, 4.8, 9.2, 'aditya', 4, 3, 2, 1]

In [113]:
lst.sort(key=str)

In [114]:
lst

[1, 2, 3, 4, 4.8, 5.3, 9.2, 'aditya']

In [123]:
lst.extend('4')

In [124]:
lst

[1, 2, 3, 4, 4.8, 5.3, 9.2, 'aditya', '4']

# Q3

In [125]:
dit={'name':'value', 'name1':'a','name2':'b','name3':'c'}

In [126]:
dit

{'name': 'value', 'name1': 'a', 'name2': 'b', 'name3': 'c'}

In [128]:
dit['name1']

'a'

In [129]:
dit.get('name2')

'b'

In [130]:
dit.items()

dict_items([('name', 'value'), ('name1', 'a'), ('name2', 'b'), ('name3', 'c')])

In [131]:
dit.copy()

{'name': 'value', 'name1': 'a', 'name2': 'b', 'name3': 'c'}

In [132]:
dit.pop('name3')

'c'

In [139]:
dit.fromkeys('name2')

{'n': None, 'a': None, 'm': None, 'e': None, '2': None}

In [141]:
dit={'name':'value', 'name1':'a','name2':'b','name3':'c'}

In [142]:
dit

{'name': 'value', 'name1': 'a', 'name2': 'b', 'name3': 'c'}

In [143]:
dit.values()

dict_values(['value', 'a', 'b', 'c'])